@use 'variables' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
}

// 🔹 Mixin para fuentes
@include font-style("Viaoda Libre", serif, 400, normal);

body {
  @extend %font-primary;
  background-color: $color-primario;
  color: $color-texto-claro;
}

// 🔹 Placeholder para fuentes
%font-primary {
  font-family: $font-principal;
}
