/* Variables */

$color-primario: #bac8ab;
$color-texto-claro: #f8f8f8;
$color-fondo: #ffffff;
$color-texto-oscuro: #333;
$color-border: #ccc;

$width-full: 100%;
$width-auto: auto;

$font-size-base: 1em;
$font-size-lg: 1.5em;
$font-size-xl: 2em;
$font-size-xxl: 2.5em;

$font-principal: "Viaoda Libre", serif;

$padding-base: 10px;
$padding-lg: 20px;
$padding-xl: 40px;

$margin-base: 10px;
$margin-lg: 20px;
$margin-xl: 40px;

$box-shadow-base: 0px 4px 10px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 4px 15px rgba(0, 0, 0, 0.3);

$border-radius-sm: 5px;
$border-radius-lg: 10px;

$transition-fast: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;

$color-hover: #acb89ee2;
$color-gradient-dark: rgba(0, 0, 0, 0.9);
$color-gradient-light: rgba(0, 0, 0, 0.2);

$breakpoint-mobile: 767px;
$breakpoint-tablet: 1024px;

